.container {
    display: flex;
    border: 1px solid violet;
    height: 80vh;
    align-items: stretch;
}

.child {
    flex-grow: 1;
    border: 1px solid grey;
}

#splitter {
    flex-grow: 0;
    width: 0.3rem;
    background-color: gray;
    cursor: ew-resize;
}

#pastearea {
    padding: 1rem;
    resize: none;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#output {
    padding: 1rem;
    font-size: large;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}